.cs-flex {
  display: flex;
}

.cs-flex-row {
  flex-direction: row;
}

.cs-flex-col {
  flex-direction: column;
}

.cs-flex.cs-flex-nowrap {
  flex-wrap: nowrap;
}

.cs-flex.cs-flex-wrap {
  flex-wrap: wrap;
}

.cs-flex.cs-items-start {
  align-items: start;
}

.cs-flex.cs-items-center {
  align-items: center;
}

.cs-flex.cs-items-end {
  align-items: end;
}

.cs-flex.cs-justify-start {
  justify-content: start;
}

.cs-flex.cs-justify-center {
  justify-content: center;
}

.cs-flex.cs-justify-evently {
  justify-content: evently;
}

.cs-flex.cs-justify-between {
  justify-content: between;
}

.cs-flex.cs-justify-around {
  justify-content: around;
}

.cs-gap-1 {
  gap: 0.25rem
}

.cs-gap-2 {
  gap: 0.5rem
}

.cs-border-red {
  border: 1px solid red;
}

.cs-min-h-screen {
  height: 100vh;
}